{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="{% static 'css/profile.css' %}" />
</head>
<body>
    <header>
        <div class="top-bar">
            <a id="unama">
                <img src="{% static 'images/unama_n.png' %}" alt="">
            </a>
            <div id="profileu" class="profile-info">
                <img id="prof" src="{% static 'images/user.png' %}" alt="Profile Icon">
                <a href="{% url 'logout' %}">Logout</a>
            </div>
        </div>
        <div class="contact-info">
            <p>Contate-nos: (91) 99999-9999 | Email: contact@clinic.com</p>
        </div>
    </header>

    <div class="container">
        <h2>{% if is_professional %}
            {% if user.gender == 'M' %}
                Dr. {{ user.first_name }} {{ user.last_name }}
            {% elif user.gender == 'F' %}
                Dra. {{ user.first_name }} {{ user.last_name }}
            {% elif user.gender == 'O' %}
                Dr/Dra. {{ user.first_name }} {{ user.last_name }}
            {% endif %}
        {% else %}
            Paciente {{ user.first_name }} {{ user.last_name }}
        {% endif %}</h2>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Telefone:</strong> {{ user.phone }}</p>

        <h3>Agendamentos</h3>
        <form action="{% url 'profile' %}" method="POST" class="form"> {% csrf_token %}
            <label for="date">Data:</label>
            <input type="date" id="date" name="data" required>

            <label for="time">Horário:</label>
            <select id="time" name="time" required>
                <option value="09:00">09:00</option>
                <option value="10:00">10:00</option>
                <option value="11:00">11:00</option>
                <option value="12:00">12:00</option>
                <option value="13:00">13:00</option>
                <option value="14:00">14:00</option>
                <option value="15:00">15:00</option>
                <option value="16:00">16:00</option>
                <option value="17:00">17:00</option>
            </select>

            <label for="specialty">Tipo de consultoria:</label>
            <select id="specialty" name="tipo_tratamento" required>
                <option value="ORTHO">Ortopédica</option>
                <option value="NEURO">Neurológica</option>
                <option value="CARDIO">Cardiopulmonar</option>
                <option value="PEDIAT">Pediátrica</option>
                <option value="GERIAT">Geriátrica</option>
                <option value="SPORT">Desportiva</option>
                <option value="OTHER">Outros</option>
            </select>

            <label for="reason">Descrição breve do sintomas do paciente:</label>
            <textarea id="reason" name="reason" rows="4" required></textarea>

            <button type="submit">Agendar</button>
        </form>

        <h3>Seus Agendamentos</h3>
        <ul>
            {% for appointment in appointments %}
                <li>Data: {{ appointment.data }}, Horário: {{ appointment.time }}, Motivo: {{ appointment.resumo_problemas }}, Fisioterapeuta: {{ appointment.fisioterapist.user.username }}</li>
            {% empty %}
                <li>Nenhum agendamento ainda feito.</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
