{% extends 'base_profile.html' %}

{% block form_content %}
    <ul>
        {% for appointment in appointments %}

          {% if appointment.professional is none %}

            <li id="gap">

                Cliente: {{ appointment.client.first_name }} {{ appointment.client.last_name }},
                Data: {{ appointment.data }},
                Horário: {{ appointment.time }},
                Motivo: {{ appointment.resumo_problemas }}

                <div class="form-container">
                    <form method="POST" action="{% url 'fisiologista:associar_profissional' appointment.id %}">
                        {% csrf_token %}
                        <button id="associar" type="submit">Associar-se</button>
                    </form>
                </div>

            </li>

          {% endif %}

        {% empty %}
            <li>Nenhum agendamento feito por um cliente no momento.</li>
        {% endfor %}

    </ul>
{% endblock %}

