{% extends 'base_profile.html' %}

{% block form_content %}

    <form action="{% url 'fisiologista:profile' %}" method="POST" class="form"> {% csrf_token %}

        <div class="input-box">
            <label for="{{ form.data.id_for_label }}">Data:</label>
            {{ form.data }}
        </div>

        <div class="input-box">
            <label for="{{ form.time.id_for_label }}">Horário:</label>
            {{ form.time }}
        </div>

        <div class="input-box">
            <label for="{{ form.tipo_tratamento.id_for_label }}">Tipo de consultoria:</label>
            {{ form.tipo_tratamento }}
        </div>

        <div class="input-box">
            <label for="{{ form.resumo_problemas.id_for_label }}">Descrição breve do sintomas do paciente:</label>
            {{ form.resumo_problemas }}
        </div>

        <button type="submit">Agendar</button>

        <h3>Seus Agendamentos</h3>
        <ul>
            {% for appointment in appointments %}
                <li>

                    Data: {{ appointment.data }},
                    Horário: {{ appointment.time }},
                    Motivo: {{ appointment.resumo_problemas }}
                    Fisiologista: {{ appointment.professional.user.first_name }} {{ appointment.professional.user.last_name }}

                    <a href="{% url 'fisiologista:edit' appointment.id %}" class="edit-button">Editar</a>
                    <a href="{% url 'fisiologista:delete' appointment.id %}" class="delete-button">Deletar</a>

                </li>
            {% empty %}
                <li>Você ainda não fez nenhum agendamento, preencha o formulário acima.</li>
            {% endfor %}
        </ul>
    </form>
{% endblock %}